
mixin ui-Control(options)

    - var inputType         = options.inputType || 'checkbox'; //-- checkbox || radio
    - var additionalClass   = options.additionalClass;
    - var inputClass        = options.inputClass;
    - var uiVariant         = options.uiVariant || 'pin';
    - var uiLabel           = options.uiLabel;

    label.input-ui(class='input-ui--' + uiVariant + ' ' + additionalClass)
        input.input-ui__input(type=inputType, class=inputClass)
        span.input-ui__label= uiLabel


mixin showCard(options)
    - var cardType          = options.cardType || 'text'; //-- text, images, video
    - var cardTitle         = options.cardTitle;
    - var backgroundImage   = options.backgroundImage;
    - var cardContentText   = options.cardContentText;
    - var cardContentImage  = options.cardContentImage;

    section.card-show-case(class='card-show-case--' + cardType)
        .card-show-case__control.row
            +ui-Control({
                additionalClass: 'card-show-case__control--pin',
                uiVariant: 'pin'
            })
            .icon.icon-close.card-show-case__control--close
        .card-show-case__content
            +media({
                mediaType: 'picture',
                figureClass: 'card-show-case__background__pic',
                imgClass: 'card-show-case__background__img',
                imgUrl: backgroundImage
            })
            .card-show-case__content__title= cardTitle
            if cardType == 'text'
                .card-show-case__content__detail.active= cardContentText
            else if cardType == 'images'
                +media({
                    mediaType: 'picture',
                    figureClass: 'card-show-case__content__detail',
                    imgClass: 'card-show-case__content__detail--img',
                    imgUrl: cardContentImage
                })
        .card-show-case__commands.commands
            i.commands__nav.commands__nav--left.icon.icon-left
            .commands__nav.commands__nav--text
                ol.sub-command
                    li.sub-command__item.active Presentation
                    li.sub-command__item Detail
            i.commands__nav.commands__nav--right.icon.icon-right

